/*author= Marta Molina*/
* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2vh;
}
/*nav*/
body {
  width: 100vw;
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
#header_nav {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
  background-color: rgb(200, 20, 60);
  color: rgb(250, 250, 250);
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

/*section*/
#section {
  height: 100%;
  min-height: 98vh;
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: center;
  background-color: white;
}
.prin {
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: justify;
  line-height: 4vh;
}
/****TARJETA***/
.section_tarjeta {
  margin: 1.5vh;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.sub_tarjeta {
  box-sizing: border-box;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

#subTarjeta {
  /*cargar incial*/
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pack {
  display: flex;
  flex-direction: column;
  margin: 2.5vw;
  width: 25%;
}
/**2a Pantalla-inputs*/
.en_columns {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.st_titulo {
  text-align: center;
  margin: 2.5vw;
}
.st_texto {
  text-align: center;
  width: 80%;
  align-self: center;
  margin: 2vw;
}
.btn {
  align-self: center;
  padding: 1.2vh;
  width: 70%;
  background-color: rgb(214, 23, 64);
  color: #fff;
  margin: 2vh;
  border: none;
  border-radius: 10px;
}
.btn:hover {
  background-color: rgb(230, 38, 79);
  box-shadow: 2px 4px 6px rgba(36, 36, 36, 0.2);
}
.btn_txt {
  font-weight: 600;
  font-size: 2vh;
  letter-spacing: 0.15vh;
}
input {
  margin: 1vh;
  padding: 0.5vh;
}
.div_Llegada,
.div_Duracion,
.div_Qtum {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
label {
  padding: 0.7vh;
  align-self: center;
}
.txt_oculto {
  margin-top: 1vh;
  text-align: center;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.txt_error {
  margin-top: 1vh;
  text-align: center;
  color: rgb(214, 23, 64);
  font-weight: 600;
}
.txt_correcto {
  margin-top: 1vh;
  text-align: center;
  color: rgb(2, 126, 105);
  font-weight: 600;
}
/*
***************************************************
********** +-+-+-+-+-+ +-+-+-+-+-+-+-+-+ **********
**************** |G|R|A|F|I|C|A|S| ****************
********** +-+-+-+-+-+ +-+-+-+-+-+-+-+-+ **********
***************************************************
*/
.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*datos*/
.tabla {
  box-sizing: border-box;
  margin-top: 2vh;
  margin-bottom: 4vh;
  width: auto;
}
.header_tabla {
  background-color: rgb(200, 20, 60);
  color: aliceblue;
  font-weight: 400;
}
.tabla td {
  text-align: center;
  padding: 0.5vh;
}
.tr_par {
  background-color: rgb(240, 240, 240);
}
.header_tabla td {
  padding: 1vh;
}
li {
  list-style: circle;
  margin: 1vh;
  margin-left: 5vh;
}

/*representación gráfica*/
.grafica {
  box-sizing: border-box;
  width: auto; /*para que no de error, quitar luego*/
  margin-bottom: 4vh;
  margin-top: 4vh;
}
table {
  box-sizing: border-box;
}

.td_enEjecucion {
  padding: 0.7vw;
  background-color: chartreuse;
}
.td_enEspera {
  padding: 0.7vw;
  background-color: lightslategray;
}
.td_NoPresente {
  padding: 0.7vw;
  background-color: whitesmoke;
}
.td_texto {
  font-size: 1.5vh;
}

/* Media  queries */
@media (max-width: 1550px) {
  #section {
    width: 95%;
  }
}

@media (max-width: 992px) {
  * {
    font-size: 1.6vh;
  }
  .st_titulo {
    font-size: 1.7vh;
  }
  #section {
    width: 100%;
  }
  .sub_tarjeta {
    display: flex;
    flex-direction: column;
  }
  .btn_txt {
    font-weight: 600;
    font-size: 1.5vh;
    letter-spacing: 0.1vh;
  }
}
